<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div ng-app="hd" ng-controller="ctrl">
			<table border="1" width="500">
				<tr>
					<td>
						<input type="checkbox" ng-model='all' />
						<span ng-bind="all?'反选':'全选'"></span>
					</td>
					<td>标题</td>
					<td>网址</td>
				</tr>
				<tr ng-repeat='v in user'>
					<td>
						<input type="checkbox"  ng-checked='all'/>
					</td>
					<td>{{v.name}}</td>
					<td>{{v.url}}</td>
				</tr>
			</table>
		</div>	
	</body>
	<script src="js/angular1.min.js"></script>
	<script>
		var m=angular.module('hd',[]);
		m.controller('ctrl',['$scope',function($scope){
			$scope.user=[
			  {name:'北京',url:'beijing'},
			    {name:'上海',url:'shanghai'},
			     {name:'深圳',url:'shenzhen'},
			]
			
		}])
	</script>
</html>